<div class="grid-item-wrapper">
  <div class="grid-item-title">{{data.title}}</div>
  <div class="grid-item-img" style={{style}}></div>
  <div class="grid-item-btns">
    <div class="btn-group">
      {{yield}}
    </div>
  </div>
</div>