.detail-page {
  margin: -1.8rem;
  @media all and (min-width: 600px) {
    display: flex;
    align-items: center;
  }
}

.detail-page-block {
  height: 700px;
  @media all and (min-width: 600px) {
    flex: 0 0 50%;
  }
}

.detail-page-subblock {
  position: relative;
  width: 100%;
  padding: 1.8rem;
}

.detail-page-img {
  position: relative;
  height: 100%
}

.detail-page-img-el {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 90%;
}

.detail-page-description {
  height: 50%;
}

.detail-page-comments {
  height: 50%;
}

.detail-page-block-title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;;
}
