{{!-- Grid controls --}}
{{grid-controls
  active=layout
  toggle=(action "toggleLayout")
}}

{{#liquid-if isGrid class="grid"}}
  {{!-- Grid group --}}
  {{#grid-group}}
    {{!-- Loop model --}}
    {{#each model as |item|}}
      {{!--Grid item --}}
      {{#grid-item data=item}}
        {{!-- View detail button --}}
        {{#link-to "launches-details" item class="el-btn el-btn--sm el-btn--shadow"}}
          View Detail
        {{/link-to}}

        {{!-- View launch page button --}}
        <a
          href={{item.articleLink}}
          class="el-btn el-btn--sm el-btn--shadow"
          target="_blank"
          rel="noopener"
        >
          View Launch
        </a>
      {{/grid-item}}
    {{/each}}
  {{/grid-group}}
{{else}}
  {{!-- List group --}}
  {{#list-group}}
    {{!-- Loop model --}}
    {{#each model as |item|}}
      {{!-- List item --}}
      {{#list-item data=item}}
        {{!-- View detail button --}}
        {{#link-to "launches-details" item class="el-btn el-btn--sm"}}
          View Detail
        {{/link-to}}

        {{!-- View launch page button --}}
        <a
          href={{item.articleLink}}
          class="el-btn el-btn--sm"
          target="_blank"
          rel="noopener"
        >
          View Launch
        </a>
      {{/list-item}}
    {{/each}}
  {{/list-group}}
{{/liquid-if}}